.ProfileSection .profile-input {
  width: 11rem;
  margin: 0 0.5rem;
  background-color: transparent;
  border: none;
  text-align: center;
}

.ProfileSection .profile-input:hover,
.name-number-input:hover {
  outline: 1px solid red;
}
.name-number-input {
  outline: 1px solid #333333;
}

.ProfileSection label {
  margin-bottom: 0;
  font-size: 0.875rem;
}