
.ProfileSection .profile-input:hover,
.name-number-input:hover {
  outline: 1px solid red;
}
.name-number-input,
.NotesSection textarea {
  outline: 1px solid #333333;
}

.ProfileSection label {
  margin-bottom: 0;
  font-size: 0.875rem;
}