.range-input-checkbox {
  appearance: none;
  background: url("../../../../../public/images/radio-on-button.svg") no-repeat 50% 50%;
  background-size: 100% auto;
  print-color-adjust: exact;
}

.range-input-checkbox[data-variant="circle"] {
  background-image: url("../../../../../public/images/radio-on-button.svg");
}

.range-input-checkbox:checked ~ .range-input-checkbox[data-variant="circle"] {
  background-image: url("../../../../../public/images/circumference.svg");
}

.range-input-checkbox[data-variant="square"] {
  background-image: url("../../../../../public/images/square-filled.svg");
}

.range-input-checkbox:checked ~ .range-input-checkbox[data-variant="square"] {
  background-image: url("../../../../../public/images/square-empty.svg");
}