/* based on https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links */

.AboutPage a { 
  text-decoration: underline;
}
.AboutPage ul { 
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  /* text-decoration: underline; */
}

.AboutPage a:link           { color: rgb(0, 0, 238) }  /* unvisited links       */
.AboutPage a:visited        { color: rgb(85, 26, 139) }  /* visited links         */
.AboutPage a:active         { color: red }  /* active links          */