.RangeInput2 .range-input-checkbox {
  appearance: none;
  background: url("../../../../../images/radio-on-button.svg") no-repeat 50% 50%;
  background-size: 100% auto;
  print-color-adjust: exact;
}

.RangeInput2 .range-input-checkbox[data-variant="circle"] {
  background-image: url("../../../../../images/radio-on-button.svg");
}

.RangeInput2 .range-input-checkbox:checked ~ .range-input-checkbox[data-variant="circle"] {
  background-image: url("../../../../../images/circumference.svg");
}

.RangeInput2 .range-input-checkbox[data-variant="square"] {
  background-image: url("../../../../../images/square-filled.svg");
}

.RangeInput2 .range-input-checkbox:checked ~ .range-input-checkbox[data-variant="square"] {
  background-image: url("../../../../../images/square-empty.svg");
}
