.CharSheetBody {
  /* width: 700px; */
  min-width: 44rem;
  /* width: 50rem; */
  min-height: 58rem;
  /* max-width: 44rem; */
  background-position-x: 50%!important;
  background-position-y: 50%!important;
  background-size: 100% 100%!important;
  background-attachment: scroll!important;
  background-repeat: no-repeat!important;
  background-clip: border-box!important;
  background-origin: padding-box!important;
  box-sizing: content-box;
  border: 43px solid transparent;
  padding: 1rem;
  border-top: 60px solid;
  border-left: 41px solid;
  border-right: 39px solid;
  border-bottom: 45px solid;
  border-image-slice: 60 40 50 40;
  border-image-width: 60px 40px 50px 40px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  /* border-image-source: url('images/border.png'); */
  border-image-source: url('../../../../../images/border.png');

  /* margin: 0 auto; */
  break-after: page;
}

@media print {
  html {
    font-size: 22px;
  }
  .CharSheetBody {
    /* width: 100vw;
    height: 100vh; */
  }
}
